:root{
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0 auto;
    max-width: 1920px;
    box-sizing: border-box;
}
.text-gray{
    color: darkslategray;
}

.action-button{
    position: absolute;
    right: 16px;
}

.d-flex {
    display: flex;
}

.justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.g6 {
    gap: 6px;
}

main{
    padding: 0 16px 0 16px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    background-color: #1A73E8;
    color: #eaeaea;
    padding: 10px 24px;
    text-align: center;
    height: 60px;
}

.githubLogo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}