
:root{
    background-color: #eaeaea;
}

body{
    margin: 0;
    background-color: #eaeaea;
}

.wrapper{
    height: 100vh;
}

header{
    background-color: #1A73E8;
    color: #eaeaea;
    padding: 10px 24px;
    text-align: center;
}

.githubLogo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}